body{
    padding: 0;
    margin: 0;
    height: 5000px;
}
    .container {
  max-width: 1200px;
  padding: 64px 45px 0;
  margin: 0 auto;
}
.header-top{
    display: flex;
}
.navbar{
    margin-left: auto;
    display: flex;
}
.nav-list{
    display: flex;
    gap: 39px;
}
.nav-link{
    color: #2F3A3B;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
}
.header-action{
    display: flex;
  margin-left: auto;
    gap: 24px;
}
.nav-link.home{
    font-weight:bold;
}
.nav-link:hover{
    text-shadow: 1px 0px 1px black;
}
.action{
    text-decoration: none;
    color: #494949;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.header-action__signup{
  border-radius: 5px;
    color: aqua;

}
.hero{
margin-top: 50px;
display: flex;
height: 500px;
align-items: center;
justify-content: space-between;
}

.desc{
    color: #767E7E;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.hero-heading{
    width: 458px;
    height: 144px;
    color: #0D1111;
font-family: Poppins;
font-size: 62px;
font-style: normal;
font-weight: 700;
line-height: 72px; 
margin-top: 10px;
}
.hero-desc__under{
    width: 300px;
    height: 96px;
    margin-top: 46px;
}
.hero-btn{
    display: flex;
    align-items: center;
    gap: 40px;
}
.btn-start{
    width: 150px;
    height: 68px;
    background-color: rgb(14, 102, 102);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn-run img{
width: 100%;
height: 100%;
object-position: center;
transform: scale(3.9);
transform: translateY(8px);
}
.btn-run{
    width: 50px;
    height: 50px;
    border: none;
    background-color: white;
}
.hero-media{
    position: relative;
}
.service-img{
    width: 450px;
    background-color: aquamarine;
}
.card-list__courses,.card-list__schedules{
    position: absolute;
    z-index: 1;
}
.card-list__courses{
    width: 130px;
    height: 50px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content:space-around;
    gap: 10px;
    position: relative;
    border-radius: 10px;
    bottom: 400px;
    right: 30px;
}
.card-list__courses::after{
  content: "";
    display: block;
    position: absolute;
  background-color: rgb(51, 68, 82);
  width: 20px;
  height: 2px;
  bottom: 10px;
  left: 10px;
}
.card-list__schedules{
    background-color: aliceblue;
    text-align: start;
    bottom: 100px;
    height: 110px;
    border-radius: 10px;
    margin:auto;
    width: 80px;
    left: -40px;
}
.icon-list{
    margin-top: 10px;
  display: flex;
  flex-direction:column;
  gap: 15px;
}
.icon1{
border: 3px solid ;
border-image: linear-gradient(to right, red , rgb(228, 188, 188) 50%)1;
}
.icon2{
   border: 3px solid ;
border-image: linear-gradient(to right, red , rgb(228, 188, 188) 70%)1; 
}
.icon3{
    border: 3px solid ;
border-image: linear-gradient(to right, red , rgb(228, 188, 188) 40%)1;
}
.features{
    margin-top: 130px;
}
.feature-heading{
    margin-top: 20px;
    width: 577px;
    color: #0D1111;
font-family: Poppins;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 56px; /* 133.333% */
}
.features-desc{
    margin-top: 5px;
    width: 480px;
}
.features-list{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.feature-article__name{
    margin-top: 5px;
    color: #0D1111;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.feature-article__desc{
width: 160px;
height: 81px;
margin-top: 15px;
}
.source{
    margin-top: 130px;
}
.source-heading{
    margin-top: 10px;
    color: #0D1111;
font-family: Poppins;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.source-desc{
    width: 450px;
    height: 64px;
    margin-top: 15px;
}
.car-list{
    display: flex;
    gap: 20px;
    
}
.car-item{
    position: relative;
}
.car-item .content{
    width: 325px;
    height: 165px;
    background-color: rgb(157, 186, 186);
    margin: auto;
    padding: 10px;
    position: absolute;
    bottom: -85px;
    right: 20px;
  border-radius: 5px;
}
.car-item .content-heading{
    color: #0D1111;
font-size: 22px;
font-weight: 700;
}
.car-item .content-spice{
    color: #0D1111;
font-size: 22px;
margin-top: 10px;
font-weight: 700;
}
.car-item .content-desc{
    margin-top: 10px;
}
.car-item .content-icon{
    margin-top: 10px;
    display: flex; 
    gap: 25px;
    margin-left: 10px;
}
.content-icon1,.content-icon2{
    position: relative;
}
.car-item .content-icon1::before,.content-icon2::before{
    content: "";
    border: 3px solid rgb(81, 81, 250);
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: -10px;
}
.car-item img:hover{
    transform: scale(1.1);
    border: 1px solid black;
    border-radius: 10px;
}
.countdown{
    margin-top: 330px;
}
.countdown-list{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.countdown-item__number{
    color: #0D1111;
text-align: center;
font-size: 62px;
font-weight: 700;
}
.countdown-item__desc{
    margin-top: 10px;
}
.comment{
    margin-top: 200px;
    display: flex;
}
.comment-content__desc{
color: #5D6564;
font-size: 32px;
font-weight: 400;
line-height: 48px; /* 150% */
width: 419px;
}
.comment-button__list{
    margin-top: 20px;
    display: flex;
    gap: 30px;
}
.muiten1{
    transform: scaleX(-1);
      border-radius: 50%;
}
.muiten2{
    border-radius: 50%;
}
.muiten1:hover,.muiten2:hover{
       animation: button 1s linear 0s 1 reverse;
}
.comment-button__left,.comment-button__right{
    border: none;
     border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}
@keyframes button{
    to{
        box-shadow: 0 0 10px 5px violet;
    }
    form{
box-shadow: none;
    }
}
.comment-images{
    position: relative;
}

.comment-image__image1{
    background-color: aqua;
    border-radius: 50%;
    position: absolute;
    left: 350px;
}
.comment-image__image2{
    background-color: rgb(239, 116, 116);
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: 200px;
}
.comment-image__image3{
    background-color: rgb(81, 157, 131);
    border-radius: 50%;
    position: absolute;
    bottom: -100px;
    left: 100px;
}
.comment-image__image4{
    background-color: rgb(83, 41, 67);
    border-radius: 50%;
    position: absolute;
    top: -150px;
    right: -600px;
}
.comment-image__image5{
    background-color: rgb(205, 167, 109);
    border-radius: 50%;
    position: absolute;
    bottom: -90px;
    left: 550px;
}
.cta{
    margin-top: 250px ;
    padding: 0 400px;
    display: flex;
    background-color: rgb(67, 124, 124);
   height: 200px;
}
.cta-left{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.cta-left__heading{
    color: #070707;
font-size: 42px;
font-weight: 700;
}
.cta-left__desc{
    color: #1b2323;
font-size: 18px;
font-weight: 400;
}
.cta-right{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta-right__button{
    width: 200px;
    height: 100px;
    border-radius: 15px;
    background-color: aquamarine;
    border: none;
    color: rgb(112, 127, 141);
    font-size: large;
    font-weight: 700;
}
.cta-right__button:hover{
    background-color: aqua;
    color:rgb(94, 87, 75);
    transition: 1s;
}
footer{
    background-color: #767E7E;
    margin: 100px 400px 0;
    height: 300px;
   padding-top: 20px;
   display: flex;
}
.footer-logo{
    width: 80px;
    height: 20px;
}
.footer-item__heading{
    margin-bottom: 10px;
    color: #2E2E2E;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.footer-list{
   display: flex;
   margin-left: 150px;
   margin-right: 50px;
   width: 100%;
    justify-content: space-between;
}
.footer-item{
    display: flex;
    flex-direction: column;
   gap: 30px;
}
.footer-item__link{
    color: rgb(200, 225, 248);
    text-decoration: none;
    
}
.footer-item__link{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-item__link:hover{
    text-decoration: underline;
}
.footer-link__icon{
    display: flex;
    text-decoration: none;
    color: rgb(84, 28, 84);
}
.footer-link__icon:hover{
    color: #215b5b;
}